// colors
$color-1: #FFFFFF;
$color-2: #20AD96;
$color-3: #3f3A64;
$color-4: #F5F7FA;
$color-5: #F8F8F8;
$color-6: #F5F1ED;
$color-7: #696969;
$color-8: #8C89A2;

// fonts
$font-1: 12px;
$font-2: 14px;
$font-3: 16px;
$font-4: 18px;
$font-5: 20px;
$font-6: 22px;
$font-7: 24px;
$font-8: 26px;
$font-9: 28px;
$font-10: 60px;
$font-11: 45px;

